$bg0: #282828;
$bg1: #3c3836;
$fg0: #fbf1c7;

$red0: #cc241d;
$red1: #fb4934;
$green0: #98971a;
$green1: #b8bb26;
$yellow0: #d79921;
$yellow1: #fabd2f;
$blue0: #458588;
$blue1: #83a598;
$purple0: #b16286;
$purple1: #d3869b;

@mixin animation($name) {
    animation-name: $name;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes workspace_urgent {
    from {
        background-color: $bg1;
    }

    to {
        background-color: $yellow1;
    }
}

@keyframes battery_charging {
    from {
        background-color: $bg1;
    }

    to {
        background-color: $green1;
    }
}

@keyframes battery_warning {
    from {
        background-color: $bg1;
    }

    to {
        background-color: $yellow1;
    }
}

@keyframes battery_critical {
    from {
        background-color: $bg1;
    }

    to {
        background-color: $red1;
    }
}

* {
    all: unset;
}

#waybar {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 16px;
    color: $fg0;

    background: $bg0;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0.5rem;
}

.modules-left button,
.modules-center button,
.modules-right button {
    margin: 0 0.5rem;
    padding: 0.33rem 1rem;
    border-radius: 4px;
}

.modules-left button {
    margin-left: 0;
}

.modules-right button {
    margin-right: 0;
}

#workspaces button {
    background: $bg1;
}

#workspaces button.focused {
    background-color: $green0;
}

#workspaces button.urgent {
    @include animation(workspace_urgent);
}

#pulseaudio {
    background-color: $red0;
}

#backlight {
    background-color: $green0;
}

#network {
    background-color: $yellow0;
}

#battery {
    background-color: $blue0;
}

#battery.charging {
    @include animation(battery_charging);
}

#battery.warning:not(.charging) {
    @include animation(battery_warning);
}

#battery.critical:not(.charging) {
    @include animation(battery_critical);
}

#clock {
    background-color: $purple0;
}